@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #F6F6F6;
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 20px;
    border-bottom: 3px solid #87BFC7;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul .ul-text a{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 18px;
    display: block;
}

nav ul .ul-text a:not(.btn)::after{
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul .ul-text a:hover::after{
    width: 100%;
}

nav a img{
    width: 90px;
    height: 90px;
}

nav ul a img{
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.search{
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.search .search-text{
    margin: 0 20px;
    padding: 8px;
    width: 600px;
    font-size: 16px;
    border: #8A8A8A solid;
    border-width: 1px;
    border-radius: 10px;
}

.search a{
    margin: 0 20px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-text {
    width: 100%;
    box-sizing: border-box;
}

.suggestions {
    color: #666666;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 47px;
    width: 600px;
    max-height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow-y: auto;
}

.suggestion-item{
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover{
    background-color: #f0f0f0;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

button{
    margin: 0 20px;
}

.search-btn{
    display: block;
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.1s;
    border: 1px solid #87BFC7;
    cursor: pointer;
}

.search-bar .search .back-btn{
    padding: 10px 15px;
    background-color: #b9b9b9;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.1s;
    border: 1px solid #b9b9b9;
}

.search-bar .search .search-btn:active{
    color: #666666;
    background-color: #4d909a;
}

.search-bar .search .search-btn:hover {
    background-color: #4d909a;
    transition: 0.4s;
}

.search-bar .search .back-btn:active{
    color: #666666;
}

.search-bar .search .back-btn:hover{
    background-color: #909090;
    transition: 0.4s;
}

.event-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto 70px;
    width: 80%;
}

.event-details .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-layout {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}

.event-left {
    flex: 1;
    text-align: center;
}

.event-left .ong {
    margin-bottom: 15px;
    font-size: 18px;
    color: #666666;
}

.event-left .image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border-radius: 25px;
    box-shadow: 2px 2px 0.8em rgba(47, 47, 47, 0.3);
    height: 250px;
    overflow: hidden;
    margin-top: 20px;
}

.event-left .image-box img {
    width: 60%;
    object-fit: cover;
    margin: 0 auto;
}

.event-right {
    flex: 2;
    text-align: left;
    padding-left: 50px;
}

.event-right .nome-ong {
    margin-bottom: 20px;
    color: #87BFC7;
    font-size: 28px;
}

.event-details-list p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
}

.event-button {
    display: flex;
    justify-content: center;
}

.event-details .event-button .btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.1s;
    white-space: nowrap;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.event-details .event-button .btn:hover {
    background-color: #4d909a;
    transition: 0.4s;
}

.event-details .event-button .btn:active {
    color: #666666;
    background-color: #4d909a;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 84%;
}

.more .event-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
}

.more .event-left .title{
    font-size: 20px;
    color: #666666;
}

.more .event-left .none {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: #666;
}

.event-item {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.event-nome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
    white-space: nowrap;
    width: 100%;
    margin-top: 20px;
}

.event-nome p {
    color: #666666;
    font-size: 16px;
    margin-right: 10px;
}

.ver-mais {
    padding: 10px 15px;
    background-color: #b9b9b9;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: color 0.1s;
    cursor: pointer;
    margin-left: 10px;
}

.ver-mais:hover {
    background-color: #909090;
    transition: 0.4s;
}

.ver-mais:active {
    color: #666666;
    background-color: #909090;
}

.more .event-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    color: #666666;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin-left: 100px;
    margin-right: 60px;  
}

.more .event-right h3 {
    font-weight: bold;
    text-align: center;
    color: #87BFC7;
    font-size: 28px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 20px 0;
}

.part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.part2 {
    display: block;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.part2 p {
    padding: 5px 0;
}

.more .event-right .none {
    margin: 40px 0;
    font-size: 16px;
    color: #666;
}

footer{
    border-top: 3px solid #87BFC7;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    text-align: center;
}