@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #9ad7e0 20%, #87BFC7 60%);    
}

.mobile-nav{
    display: none;
}
nav{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul .ul-text a{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 18px;
    display: block;
}
nav ul .ul-text a:not(.btn)::after{
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul .ul-text a:hover::after{
    width: 100%;
}
nav a img{
    width: 90px;
    height: 90px;
}
nav ul a img{
    width: 35px;
    height: 35px;
    margin: 0 15px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(255, 255, 255);
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;
    border-radius: 25px;
    width: 83%;
    box-shadow: 3px 3px 2em rgba(0, 0, 0, 0.3);

}

main h2{
    font-size: 40px;
    color: #87BFC7;
}


main h3{
    font-size: 20px;
    color: #555;
}
main p{
    font-size: 19px;
    color: #666666;
}

main ul{
    font-size: 19px;
    color: #666666;
}

main a {
    color: #60a3ae;
}

.faq{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.faq img {
    width: 550px;
    height: 550px;
}

.contato{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contato h2{
    font-size: 35px;
}
.contato img {
    width: 400px;
    height: 400px;
}

.apoio-tecnico{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.apoio-tecnico img {
    margin-left: 70px;
    width: 350px;
    height: 350px;
}

.feedback{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.feedback img {
    margin-right: 100px;
    width: 250px;
    height: 250px;
}

footer {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}


@media (max-width: 1280px){
    .content{
        width: 100%;
        padding: 15px;
        margin-bottom: 100px;
    }

    main{
        width: 90%;
    }

    .faq{
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .contato{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .apoio-tecnico{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feedback{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .faq img{
        width: 300px;
        height: 300px;
    }

    .contato img {
        width: 300px;
        height: 300px;
    }
    
    
    .apoio-tecnico img {
        margin-left: 0;
        width: 280px;
        height: 280px;
    }
    
    .feedback img {
        margin-right: 5px;
        width: 220px;
        height: 220px
    }
}


@media (max-width: 768px) {
    html, body, .content, .box-content{
        overflow-x: hidden;
    }
    nav a img{
        width: 60px;
        height: 60px;
    }
    nav ul {
        flex-direction: row;
        align-items: center;
    }
    nav ul .ul-text a {
        font-size: 14px;
        margin: 0 10px;
    }
    .content{
        width: 100%;
        padding: 15px;
        margin-bottom: 100px;
    }

    main{
        width: 98%;
    }

    main h2{
        font-size: 35px;
        color: #87BFC7;
    }

    .faq{
        margin-top: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .faq img {
        width: 300px;
        height: 300px;
    }
    
    .contato{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }
    
    .contato h2{
        font-size: 33px;
    }
    .contato img {
        width: 280px;
        height: 280px;
    }
    
    .apoio-tecnico{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .apoio-tecnico img {
        margin-left: 0;
        width: 250px;
        height: 250px;
    }
    
    .feedback{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .feedback img {
        margin-right: 20px;
        width: 200px;
        height: 200px
    }
}


@media (max-width: 480px) {
    html, body, .content, .box-content, .container-row {
        overflow-x: hidden;
    }

    nav {
        display: none;
    }
    .mobile-nav{
        display: flex;
        align-items: center;
        background: #F6F6F6;
        height: 9vh;
        z-index: 9999;
      }
    .nav-list {
        list-style: none;
        display: flex;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 45vh;
        background: #F6F6F6;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        box-shadow: 2px 2px 2em rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .mobile-nav img{
        width: 45px;
        height: 45px;
    }
    .nav-list li {
        margin-left:0;
        opacity: 0;
        color: #000;
    }
    .mobile-menu {
        cursor: pointer;
        display: block;
    }
    .nav-list a{
        color: #000;
    }
    .mobile-menu div {
        width: 27px;
        height: 2px;
        background: #0c4b4e;
        margin: 8px;
        transition: 0.3s;
    }
    .nav-list.active {
      transform: translateX(0);
    }
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }

    .content{
        width: 100%;
        padding: 15px;
    }

    .footer {
        font-size: 0.8rem;
        padding: 10px;
    }
}