@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #87BFC7;
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul .ul-text a{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 18px;
    display: block;
}

nav ul .ul-text a:not(.btn)::after{
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul .ul-text a:hover::after{
    width: 100%;
}

nav a img{
    width: 90px;
    height: 90px;
}

nav ul a img{
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-content{
    position:relative;
    background-color: rgb(255, 255, 255);
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    border-radius: 25px;
    width: 70%;
    box-shadow: 3px 3px 2em rgba(0, 0, 0, 0.3)
}

/* -- LOGIN AND BACK BOTTONS -- */
.btn{
    display: flex;
    flex-direction: row;
    margin: 4rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;
}

.back-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E7E7E7;
    border-radius: 50px;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    color: #777575;
    border: #d0d0d0 solid 1px;
}

.btn-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-login h3{
    font-size: 0.9rem;
    color: #8A8A8A
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    background-color:#6bd1c2a9;
    border-radius: 50px;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: #1B565F;
    border: #1B565F solid 1px;
}

.back-btn:hover{
    background-color: #d6d4d4;
}

.login-btn:hover{
    background-color:#5aaea1a9;
}


.box-content h1{
    font-size: 0.8rem;
}

.login-box{
    display: flex;
    flex-direction: row;
}

.banner-image{
    width: 50%;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
}

.banner-image img{
    max-width: 100%;
    border-top-left-radius:24px; 
    border-bottom-left-radius:24px;
    display: block;
}

.form-container{
    width: 50%;
    border-bottom-right-radius:25px ;
    margin-top: 1rem;

}

/* -- LOGIN AND BACK BOTTONS -- */
.btn{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.back-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E7E7E7;
    border-radius: 50px;
    width: 6.5rem;
    height: 1.9rem;
    font-size: 0.9rem;
    color: #777575;
    border: #d0d0d0 solid 1px;
}

.btn-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-register h3{
    font-size: 11px;
    color: #8A8A8A
}
.register-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    background-color:#6bd1c2a9;
    border-radius: 50px;
    width: 7rem;
    height: 1.9rem;
    font-size: 0.8rem;
    color: #1B565F;
    border: #1B565F solid 1px;
}

.back-btn:hover{
    background-color: #d6d4d4;
}

.login-btn:hover{
    background-color:#5aaea1a9;
}

.inputBox{
    display: flex;
    flex-direction:column;
    margin-top: 7rem;
    margin-left: 3rem;
}

.inputBox h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.inputBox-1{
    position: relative;

}

.inputUser {
    padding-top: 1rem;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    height: 2.9rem;
    width:26rem;
    border-width: 1px;
    margin-bottom: 1.5rem;
    position: relative;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    padding-left: 0.1rem;
    color: #000000;
    font-size: 0.9rem;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -0.5rem;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-btn{
    background-color:#46A799;
    border-radius: 50px;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #ffffff;
    border: #1B565F solid 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.login-btn:hover{
    background-color:#337c71;;
}

.footer{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.span-required{
    display: none;
    font-size: 12px;
    color:#e63636;
    margin: 3px 0 0 1px;
}