@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #F6F6F6;
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 20px;
    border-bottom: 3px solid #87BFC7;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul .ul-text a{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 18px;
    display: block;
}

nav ul .ul-text a:not(.btn)::after{
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul .ul-text a:hover::after{
    width: 100%;
}

nav a img{
    width: 90px;
    height: 90px;
}

nav ul a img{
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.search{
    padding-top: 90px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.search input{
    margin: 0 20px;
    padding: 8px;
    width: 600px;
    font-size: 16px;
    border: #8A8A8A solid;
    border-width: 1px;
    border-radius: 10px;
}

.search a{
    margin: 0 20px;
}

.search-bar .search .search-btn{
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.5s;
}

.search-bar .search .back-btn,
.search-bar .search .search-filter-btn{
    padding: 10px 15px;
    background-color: #b9b9b9;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.4s;
}

.search-bar .search .search-btn:active,
.search-bar .search .back-btn:active,
.search-bar .search .search-filter-btn:active{
    color: #666666;
}

.search-bar .search .search-btn:hover{
    background-color: #4d909a;
    transition: 0.4s;
}

.search-bar .search .back-btn:hover,
.search-bar .search .search-filter-btn:hover{
    background-color: #909090;
    transition: 0.4s;
}

.events-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 40px auto;
    width: 70%;
}

.events-options .event .image{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 25px;
    box-shadow: 3px 3px 2em rgba(0, 0, 0, 0.3);
    padding: 40px 0;
    flex: 1;
}

.events-options .event .image img{
    width: 50%;
}

.details{
    flex: 2;
    font-size: 16px;
    padding-left: 50px;
}

.details .important-details{
    display: flex;
    margin-bottom: 35px;
}

.details .important-details h4{
    font-size: 18px;
}

.more-details{
    display: flex;
    align-items: center;
}

.more-details p{
    margin-right: 20px;
    max-width: calc(90%);
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
}

.more-details .btn{
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.5s;
    white-space: nowrap;
}

.more-details .btn:hover{
    background-color: #4d909a;
    transition: 0.4s;
}

.more-details .btn:active{
    color: #666666;
}

footer{
    border-top: 3px solid #87BFC7;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    text-align: center;
}