@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #F6F6F6;
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 20px;
    border-bottom: 3px solid #87BFC7;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul .ul-text a{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 18px;
    display: block;
}

nav ul .ul-text a:not(.btn)::after{
    content: "";
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul .ul-text a:hover::after{
    width: 100%;
}

nav a img{
    width: 90px;
    height: 90px;
}

nav ul a img{
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.search{
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.search .search-text{
    margin: 0 20px;
    padding: 8px;
    width: 600px;
    font-size: 16px;
    border: #8A8A8A solid;
    border-width: 1px;
    border-radius: 10px;
}

.search a{
    margin: 0 20px;
}

.search-bar .search .search-btn{
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.1s;
}

.search-bar .search .back-btn,
.search-bar .search .search-filter-btn{
    padding: 10px 15px;
    background-color: #b9b9b9;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: color 0.1s;
}

.search-bar .search .search-btn:active,
.search-bar .search .back-btn:active,
.search-bar .search .search-filter-btn:active{
    color: #666666;
}

.search-bar .search .search-btn:hover{
    background-color: #4d909a;
    transition: 0.4s;
}

.search-bar .search .back-btn:hover,
.search-bar .search .search-filter-btn:hover{
    background-color: #909090;
    transition: 0.4s;
}

.filter-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    font-size: 13px;
    vertical-align: middle;
    margin-left: 5px;
    display: inline-block;
}

.filter-box{
    color: #666666;
    display: none;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    top: 50px;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.highlight{
    text-decoration: underline;
    font-size: 1.0em;
    margin-bottom: 10px;
    text-align: center;
}

.highlight-1{
    text-decoration: underline;
    font-size: 1.0em;
    margin-bottom: 10px;
    text-align: center;
}

.highlight-2{
    margin-top: 15px;
    text-decoration: underline;
    font-size: 1.0em;
    margin-bottom: 10px;
    text-align: center;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
}

.column{
    flex: 1;
    margin-right: 20px;
    line-height: 1.5em;
}

.column:last-child{
    margin-right: 0;
}

label{
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

select {
    color: #666666;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 14px;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    border: #8A8A8A solid;
    border-width: 1px;
    border-radius: 10px;
}

.buttons{
    text-align: center;
}

.filter-box button{
    display: inline-block;
    margin: 0 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.apply{
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.1s;
    border: #8A8A8A solid;
    border-width: 0px;
    border-radius: 10px;
}

.clean{
    background-color: #b9b9b9;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.1s;
    border: #8A8A8A solid;
    border-width: 0px;
    border-radius: 10px;
}

.close{
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #b9b9b9;
    border: #8A8A8A solid;
    border-width: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.1s;
}

.apply:hover{
    background-color: #4d909a;
    transition: 0.4s;
    cursor: pointer;
}

.clean:hover,
.close:hover{
    background-color: #909090;
    transition: 0.4s;
    cursor: pointer;
}

.apply:active{
    color: #666666;
    background-color: #4d909a;
}

.clean:active,
.close:active{
    color: #666666;
    background-color: #909090;
}

.events-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 30px auto;
    width: 70%;
}

.events-options .event .image-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 0.8em rgba(47, 47, 47, 0.3);
    height: 200px;
    overflow: hidden;
}

.events-options .event .image-1 a img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}

.events-options .event .image-1:hover{
    box-shadow: 2px 2px 1.2em rgba(0, 0, 0, 0.3);
}

.details{
    color: #666666;
    flex: 2;
    font-size: 16px;
    padding-left: 50px;
}

.details .important-details{
    display: flex;
    margin-bottom: 35px;
}

.details .important-details h4{
    font-size: 18px;
}

.more-details{
    display: flex;
    align-items: center;
}

.more-details p{
    margin-right: 20px;
    max-width: calc(80%);
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
}

.more-details .btn{
    padding: 10px 15px;
    background-color: #87BFC7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.1s;
    white-space: nowrap;
}

.more-details .btn:hover{
    background-color: #4d909a;
    transition: 0.4s;
}

.more-details .btn:active{
    color: #666666;
}

footer{
    border-top: 3px solid #87BFC7;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    text-align: center;
}